{% extends 'base.html.twig' %}

{% block title %}Contract pdf
{% endblock %}

{% block body %}
	{# <div class="container-xl bg-light mx-auto my-5 p-5 d-flex flex-column border border-dark"> #}
	<div style="height : 90vh ; width : 64vh ; display : flex ; flex-direction : column ; font-size: 14px;margin : 5px auto ; padding : 5px ; justify-content :center ;">
		
			<div style= " width : 25% ;  border : solid black 1px ; padding : 5px ; align-self : start ;">

				<p style="margin : 3px ; " >Contrat n° :
					{{contract.id}}</p>
				<p style="margin : 3px ; " >Statut :
					{{contract.type}}</p>
				<p style="margin : 3px ; " >Commandé le :
					{{contract.orderedAt}}</p>
				<p style="margin : 3px ; " >Facturé le :
					{{contract.invoicedAt}}</p>
				<p style="margin : 3px ; " >Statut :
					{{contract.status}}</p>
				<p style="margin : 3px ; " >Commentaires :
					{{contract.comment}}</p>
				<p style="margin : 3px ; " >Adresse de livraison :
					{{contract.deliveryAddress}}</p>
				<p style="margin : 3px ; " >Commande suivie par :
					{{contract.user.pseudo}}</p>
			</div>

			<div style="width : 25% ; margin : 1rem ; border : solid black 1px ; padding : 5px ; align-self : end ;">
					<p style="margin : 3px ; " >Nom :
						{{contract.customer.name}}</p>
					<p style="margin : 3px ; " >Adresse :
						{{contract.customer.address}}</p>
					<p style="margin : 3px ; " >Email :
						{{contract.customer.email}}</p>
					<p style="margin : 3px ; " >Personne à contacter :
						{{contract.customer.contact}}</p>
			</div>
		
		


		<table style="border-collapse: collapse; width: 80%; margin : auto ;">

			<thead style="">
				<tr>
					<th scope="col" style="border: 1px solid black; padding: 8px;">Ordre</th>
					<th scope="col" style="border: 1px solid black; padding: 8px;">Nom</th>
					<th scope="col" style="border: 1px solid black; padding: 8px;">Quantité</th>
					<th scope="col" style="border: 1px solid black; padding: 8px;">Prix Unitaire</th>
                    <th scope="col" style="border: 1px solid black; padding: 8px;">Prix Total Ligne</th>

				</tr>
			</thead>

            <tbody>

            {% for product in contract.products %}
                <tr style="background-color: #ffffff;">
					<th scope="row" style="border: 1px solid black; padding: 8px;">{{product.id}}</th>
					<td style="border: 1px solid black; padding: 8px;">{{product.name}}</td>
					<td style="border: 1px solid black; padding: 8px;">{{product.quantity}}</td>
					<td style="border: 1px solid black; padding: 8px;">{{product.price}}</td>
                    <td style="border: 1px solid black; padding: 8px;">{% set total = product.price * product.quantity %} {{total}} </td>
				</tr>
            {% endfor %}
				
			</tbody>
		</table>
	</div>

{% endblock %}

